header + p, form, section {
  opacity: 0;
  .fadeIn(1000ms, 900ms);
}

header + p {
  margin-bottom: 4.5rem;
}

form, section {
  margin: 0 auto 7rem;
  max-width: 70rem;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem auto 2rem;
}

section {
  padding: 0 1rem;

  @media screen and (min-width: @large-phone) {
    padding: 0 2rem;
  }
}

.coalition {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 7rem;
  max-width: 70rem;

  img {
    box-sizing: content-box;
    height: auto;
    max-height: 12rem;
    max-width: 30rem;
    padding: 2rem;
    width: auto;
  }
}

.participants {
  max-width: 42rem;
  text-align: left;

  h2, p {
    text-align: center;
  }
}
