* {
  box-sizing: border-box
}

html, body {
  font-size: 62.5%;
}

html {
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}

body {
  background: linear-gradient(lighten(@blueBlack, 20%), @blueBlack);
  border-left: @white 1px dotted;
  border-top: @white 1px dotted;
  color: @white;
  font-family: @body-font;
  font-size: 1.6rem;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.9rem;
  padding-bottom: 0.9rem;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @heading-font;
  font-variant: small-caps;
  line-height: 0.8;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  padding: 3rem 0;
  font-size: 26vw;

  @media screen and (min-width: @small-phone) {
    font-size: 10.56rem;
    line-height: 0.82;
  }

  &::before {
    content: '\01F512';
  }
}

h2 {
  font-size: 17vw;

  @media screen and (min-width: @small-phone) {
    font-size: 8rem;
  }
}

h3 {
  font-size: 10vw;

  @media screen and (min-width: @small-phone) {
    font-size: 5.5rem;
  }
}

a {
  color: white;
  font-weight: bold;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

p {
  line-height: 1.2;
  margin: 0 auto 2rem;
  max-width: 60ch;
  width: 95%;
}

form {
  margin: 1rem auto 2rem;
  max-width: 35ch;
}

label {
  color: transparent;
  .visually-hidden();
}

ul {
  list-style: disc outside;
  margin: 0 auto;
  max-width: 45ch;
  padding-left: 2.5rem;
}

img {
  height: auto;
  max-width: 100%;
}

.visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
