---
---

{% capture coalition %}{% include coalition.md %}{% endcapture %}

<p>
  The FBI is forcing Apple to weaken the digital locks that keep us safe. On <time datetime="2016-03-03">3/3/16</time>, take a stand for security and safety by changing your site&rsquo;s logo to a lock, and linking to this statement. <strong>Will you do it?</strong>
</p>

{% include form.html %}

<article class="coalition">
  <h2>We stand together</h2>
  <p>These companies and individuals are taking a stand with us to oppose backdoors into the products and devices we depend on.</p>
  {{ coalition | markdownify }}
</article>

<article class="participate">
  <h2>Join our movement</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <figure id="facebook-cover-photo">
    <figcaption>Facebook cover photo</figcaption>
    <a href="/images/downloads/facebook-cover-photo.jpg" download="facebook-cover-photo.jpg">Get the image</a>
    <a href="/images/downloads/facebook-cover-photo.jpg" download="facebook-cover-photo.jpg">
      <img src="/images/downloads/facebook-cover-photo-thumbnail.jpg" alt="Facebook cover photo image">
    </a>
  </figure>

  <figure id="facebook-profile-picture">
    <figcaption>Facebook profile picture</figcaption>
    <a href="/images/downloads/facebook-profile-picture.jpg" download="facebook-profile-picture.jpg">Get the picture</a>
    <a href="/images/downloads/facebook-profile-picture.jpg" download="facebook-profile-picture.jpg">
      <img src="/images/downloads/facebook-profile-picture-thumbnail.jpg" alt="Facebook profile picture image">
    </a>
  </figure>

  <figure id="website-banner">
    <figcaption>Website banner</figcaption>
    <a href="/images/downloads/website-banner.jpg" download="website-banner.jpg">Get the picture</a>
    <a href="/images/downloads/website-banner.jpg" download="website-banner.jpg">
      <img src="/images/downloads/website-banner-thumbnail.jpg" alt="Website banner image">
    </a>
  </figure>
</article>

{% comment %}
Uncomment this section when we are ready to show off participants.
{% include participants.html %}
{% endcomment %}
