<footer id="fftf-footer">
  <div class="press-contact">
    <strong>Press inquiries:</strong>
    <a href="mailto:press@fightforthefuture.org">
      press@fightforthefuture.org
    </a>
    <a href="tel:+15084745248">
      +1 508 474 5248
    </a>
  </div>
  <div class="other-contact">
    <strong>Other inquiries:</strong>
    <a href="mailto:team@fightforthefuture.org">team@fightforthefuture.org</a>
  </div>
  <p class="copyrightless">
    This is a project of
    <a href="https://fightforthefuture.org" target="_blank">Fight for the
      Future</a>. No copyright intended.
  </p>
  <a href="https://www.fightforthefuture.org" target="_blank">
    <img src="/images/fftf-footer-logo.png" class="footer-logo" alt="Fight for the Future logo" width="943" height="141">
  </a>
</footer>
