.text-form-elements() {
  border: none;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  max-width: 32rem;
  padding: 1.2rem;
  width: 90%;
  &::-webkit-input-placeholder {
    font-size: 1.4rem;
  }
}

label {
  color: transparent;
  .visually-hidden();
}

[type="text"],
[type="email"] {
  .text-form-elements();
}

[type="submit"] {
  background-color: firebrick;
  border: none;
  color: @white;
  cursor: pointer;
  font-family: @body-font;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 1px;
  max-width: 32rem;
  padding: 1.4rem 0;
  text-transform: uppercase;
  transition: background-color 300ms, bottom 100ms;
  width: 90%;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: darken(firebrick, 10%);
  }
  &:active {
  }
}

.disclaimer {
  font-size: 80%;
  margin-top: 1rem;
  text-align: center;

  br {
    display: none;

    @media screen and (min-width: @small-phone) {
      display: block;
    }
  }
}
